<section class="experience">
    <h2>Professional Evolution</h2>
    <div>
        <h3>U.S. Army | Petroleum Supply Specialist</h3>
        <p class="meta">Combat Veteran - Iraq</p>
        <ul>
            <li>Managed high-stakes logistics and accountability in active combat enviroments.</li>
            <li>Maintained and operated various fueling vehicles and equipment.</li>
            <li>Spearheaded foward area refueling point operations keeping aircraft and ground vehicles loaded with fuel and ammo.</li>
            <li>Keep and maintain open lines of communication with aircraft and rear command.</li>
        </ul>
    </div>
</section>
